.resume-container {
    text-align: center;
    margin-top: 2rem;
  }
  
  .resume-button {
    background-color: var(--yellow-theme-main-color);
    color: black;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  
  .resume-button:hover {
    background-color: rgb(9, 158, 26);
  }
  
  .resume-image-wrapper {
    max-width: 50%;
    margin: 0 auto;
  }
  
  .resume-image {
    width: 80%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  